subscription_id = "your-azure-subscription-id"
location        = "japaneast"
db_password     = "YourSecurePassword123!"
auth_secret     = "your-super-secret-key-minimum-32-characters-long"
image_tag       = "latest"
